<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!--begin::Head-->
    <head>
        <link th:replace="layout/head::head" th:remove="tag">
        <!--begin::Page Custom Styles(used by this page)-->
        <link href="assets/plugins/custom/kanban/kanban.bundle.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Page Custom Styles-->
    </head>
    <!--end::Head-->
    <!--begin::Body-->
    <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
        <!--begin::Main-->
        <!--begin::Header Mobile-->
        <div th:replace="layout/header-mobile::header-mobile"></div>
        <!--end::Header Mobile-->

        <div class="d-flex flex-column flex-root">
            <!--begin::Page-->
            <div class="d-flex flex-row flex-column-fluid page">
                <!--begin::Aside-->
                <!--begin::Aside-->
                <div th:replace="layout/aside::aside"></div>
                <!--end::Aside-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                    <!--begin::WrapperHeader-->
                    <div th:replace="layout/wrapper-header"></div>
                    <!--end::WrapperHeader-->
                    <!--begin::Content-->
                    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                        <!--                        begin::Subheader
                                                <div th:replace="layout/subheader::subheader"></div>
                                                end::Subheader-->
                        <!--begin::Entry-->
                        <div class="d-flex flex-column-fluid">
                            <!--begin::Container-->
                            <div class="container">
                                <!--begin::Notice-->
                                <div th:if="${mensaje != null}"  th:classappend="'alert-light-' + (${clase != null} ? ${clase})"
                                     class="alert alert-custom  fade show mb-5" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    <div th:text="${mensaje}" class="alert-text"></div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <!--end::Notice-->
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b m-lg-7">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <!--begin: Info-->
                                            <div class="flex-grow-1">
                                                <!--begin: Title-->
                                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                    <div class="mr-3">
                                                        <!--begin::Name-->
                                                        <a class="d-flex align-items-center text-dark font-size-h1 font-weight-bold mr-3" th:text='${proyecto.nombre}'>Nexa - Next generation SAAS</a>
                                                        <!--end::Name-->
                                                        <!--begin::Contacts-->
                                                        <div class="d-flex flex-wrap my-2">
                                                            <a th:href="${session.usuariosession.id==proyecto.usuarioCreador.id}?@{'/usuario/perfil'}:@{'/usuario/perfil/'+${proyecto.usuarioCreador.id}}" class="text-muted text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                                                <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Mail-notification.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24"/>
                                                                    <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                                    <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
                                                                    </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span><span th:text="${proyecto.usuarioCreador.nombre + ' '+proyecto.usuarioCreador.apellido}"></span></a>
                                                            <a class="text-muted font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                                                                <span class="svg-icon svg-icon-md svg-icon-gray-500 mr-1">
                                                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Lock.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <rect x="0" y="0" width="24" height="24"/>
                                                                    <polygon fill="#000000" opacity="0.3" points="6 3 18 3 20 6.5 4 6.5"/>
                                                                    <path d="M6,5 L18,5 C19.1045695,5 20,5.8954305 20,7 L20,19 C20,20.1045695 19.1045695,21 18,21 L6,21 C4.8954305,21 4,20.1045695 4,19 L4,7 C4,5.8954305 4.8954305,5 6,5 Z M9,9 C8.44771525,9 8,9.44771525 8,10 C8,10.5522847 8.44771525,11 9,11 L15,11 C15.5522847,11 16,10.5522847 16,10 C16,9.44771525 15.5522847,9 15,9 L9,9 Z" fill="#000000"/>
                                                                    </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span><span th:text="${#dates.format(proyecto.fechaCreacion, 'dd MMMM yyyy')}"></span></a>
                                                            <!--PARA ICONO DE ACTIVO O EN PROCESO DEL PROYECTO NO DE FINALIZADO-->
                                                            <a th:if="${proyecto.estadosProyecto.name()!='Finalizado'}" th:classappend="${proyecto.estadosProyecto.name()=='Activo'?'text-success':'text-warning'}" class="font-weight-bold">
                                                                <span th:classappend="${proyecto.estadosProyecto.name()=='Activo'?'svg-icon-success':'svg-icon-warning'}" class="svg-icon svg-icon-md mr-1">
                                                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Map/Marker2.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <mask fill="white">
                                                                        <use xlink:href="#path-1"/>
                                                                    </mask>
                                                                    <g/>
                                                                    <path d="M15.6274517,4.55882251 L14.4693753,6.2959371 C13.9280401,5.51296885 13.0239252,5 12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L14,10 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C13.4280904,3 14.7163444,3.59871093 15.6274517,4.55882251 Z" fill="#000000"/>
                                                                    </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span><span th:text="${proyecto.estadosProyecto.name()}"></span></a>
                                                            <!--PARA EL ICONO DE FINALIZADO SOLO APARECE SI YA CERRÓ DEL PROYECTO-->
                                                            <a th:if="${proyecto.estadosProyecto.name()=='Finalizado'}"  class="text-danger font-weight-bold">
                                                                <span class="svg-icon svg-icon-md svg-icon-danger mr-1">
                                                                    <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Map/Marker2.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <mask fill="white">
                                                                        <use xlink:href="#path-1"/>
                                                                    </mask>
                                                                    <g/>
                                                                    <path d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z" fill="#000000"/>
                                                                    </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span><span th:text="${proyecto.estadosProyecto.name()}"></span></a>
                                                        </div>
                                                        <!--end::Contacts-->
                                                    </div>
                                                    <div class="my-lg-0 my-1">
                                                        <a th:if="${session.usuariosession.id!=proyecto.usuarioCreador.id && proyecto.estadosProyecto.name()!='Finalizado' && proyecto.cupos>0 && unido!='true' && unirse==null}" th:href="@{'proyecto/unirme/'+${proyecto.id}+'/'+${session.usuariosession.id}}" th:classappend="${unirse==null?'btn-light-success':'btn-light-primary'}" class="btn btn-sm font-weight-bolder text-uppercase mr-3" id='unirse' th:text="${unirse==null?'UNIRME':'Solicitud Pendiente'}"></a>
                                                        <a th:if="${session.usuariosession.id!=proyecto.usuarioCreador.id && proyecto.estadosProyecto.name()!='Finalizado' && proyecto.cupos>0 && unido!='true' && unirse!=null}" th:classappend="${unirse==null?'btn-light-success':'btn-primary'}" class="btn btn-sm font-weight-bolder text-uppercase mr-3" th:text="${unirse==null?'UNIRME':'Solicitud Pendiente'}"></a>
                                                        <a th:if="${session.usuariosession.id==proyecto.usuarioCreador.id}" th:href="@{'proyecto/editar/'+${proyecto.id}}" class="btn btn-sm btn-light-warning font-weight-bolder text-uppercase mr-3">Editar</a>

                                                    </div>
                                                </div>
                                                <!--end: Title-->
                                                <!--begin: Content-->
                                                <div class=" align-items-center  justify-content-between">
                                                    <div class="font-weight-bold mb-2">Descripción del proyecto:</div>
                                                    <div class="flex-grow-1 font-weight-bold text-dark-50 py-5 py-lg-2 mr-5" th:text="${proyecto.descripcion}"></div>
                                                    <div class="d-flex flex-wrap align-items-center py-2">
                                                        <div class="d-flex align-items-center mr-10">
                                                            <div class="mr-6">
                                                                <div class="font-weight-bold mb-2">Área</div>
                                                                <span class="btn btn-sm btn-text btn-light-primary text-uppercase font-weight-bold" th:text="${temasEnum.valueOf(proyecto.tema).getValue()}">Sistemas de seguridad informatica</span>
                                                            </div>
                                                            <div class="">
                                                                <div class="font-weight-bold mb-2">Lenguajes</div>
                                                                <span class="btn btn-sm btn-text btn-light-info text-uppercase font-weight-bold mr-2" th:each="leng:${proyecto.lenguajes}" th:text='${lenguajesProgra.valueOf(leng).getValue()}'></span>
                                                            </div>
                                                        </div>
                                                        <div th:if="${session.usuariosession.id==proyecto.usuarioCreador.id && proyecto.estadosProyecto.name()!='Finalizado'}" class="flex-grow-1 flex-shrink-0 w-150px w-xl-300px mt-4 mt-sm-0">
                                                            <span class="font-weight-bold">Finalizar Proyecto</span>
                                                            <div class="col-3 p-0">
                                                                <span class="switch switch-icon">
                                                                    <label>
                                                                        <input type="checkbox"  th:name="${proyecto.participantes.size()}" id="check" th:onchange="finalizar([[${proyecto.id}]])"/>
                                                                        <span></span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div th:if="${proyecto.url!=null && proyecto.url!=''}" class="font-weight-bold mb-2 mt-5">Repositorio Proyecto: <a th:href="@{${proyecto.url}}" target="_blank" th:text="${proyecto.url}"></a></div>
                                                    <div th:if="${unido=='true'}" class="text-muted font-weight-bold mr-lg-8 mr-5 mb-lg-0 mt-2">
                                                        <p class="mb-0">*Tú ya formas parte de este proyecto.</p>
                                                    </div>
                                                </div>
                                                <!--end: Content-->
                                            </div>
                                            <!--end: Info-->
                                        </div>
                                        <div class="separator separator-solid my-7"></div>
                                        <!--begin: Items-->
                                        <div class="d-flex align-items-center flex-wrap">
                                            <!--begin: Item-->
                                            <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                                <a th:onclick="meGusta([[${proyecto.id}]],[[${session.usuariosession.id}]])" th:classappend="${like!=null?'text-hover-muted':'text-hover-danger'}" class="mr-4" id='etiquetaUrl' style="cursor: pointer;">
                                                    <i th:classappend="${like!=null?'text-danger':'text-muted'}" class="flaticon-black icon-2x font-weight-bold" id='megusta'></i>
                                                </a>
                                                <div class="d-flex flex-column text-dark-75">
                                                    <span class="font-weight-bolder font-size-sm">Me gusta</span>
                                                    <span class="font-weight-bolder font-size-h5" id="nroGusta" th:text="${proyecto.votos!=null?proyecto.votos:'0'}"></span>
                                                </div>
                                            </div>
                                            <!--end: Item-->
                                            <!--begin: Item-->
                                            <div th:if="${proyecto.estadosProyecto.name()!='Finalizado'}" class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                                <span class="mr-4">
                                                    <i class="flaticon-confetti icon-2x text-muted font-weight-bold"></i>
                                                </span>
                                                <div class="d-flex flex-column text-dark-75">
                                                    <span class="font-weight-bolder font-size-sm">Vacantes</span>
                                                    <span class="font-weight-bolder font-size-h6 text-dark-50">
                                                        <span class="text-dark font-weight-bold font-size-h4" th:text="${proyecto.cupos}"></span> disp.</span>
                                                </div>
                                            </div>
                                            <!--end: Item-->
                                            <!--begin: Item-->
                                            <div class="d-flex align-items-center flex-lg-fill my-1">
                                                <span class="mr-4">
                                                    <i class="flaticon-network icon-2x text-muted font-weight-bold"></i>
                                                </span>
                                                <!--SI NO HAY PARTICIPANTES-->
                                                <div th:if="${proyecto.participantes.size()<=0}" class="d-flex flex-column text-dark-75">
                                                    <span class="font-weight-bolder font-size-sm">Participantes</span>
                                                    <span class="font-weight-bolder font-size-h6 text-dark-50">
                                                        <span class="text-dark font-weight-bold font-size-h4" th:text="${proyecto.participantes.size()}"></span>
                                                    </span>
                                                </div>
                                                <!--SI HAY PARTICIPANTES-->

                                                <div th:if="${proyecto.participantes.size()>0}" class="symbol-group symbol-hover">
                                                    <div th:each="user,iterador:${proyecto.participantes}" th:if="${iterador.index<5}" class="symbol symbol-30 symbol-circle symbol-light-success" data-toggle="tooltip" th:title="${user.nombre+' '+user.apellido}">
                                                        <span th:if="${user.avatar==null}" class="symbol-label font-size-h2 font-weight-bold" th:text="${user.nombre.substring(0,1)}"></span>
                                                        <img th:if="${user.avatar!=null}" th:src="${'assets/media/svg/avatars/'+user.avatar+'.svg'}" />

                                                    </div>
                                                    <div th:if="${proyecto.participantes.size()<5}" class="symbol symbol-30 symbol-circle symbol-light">
                                                        <a th:href="@{'proyecto/participantes/'+${proyecto.id}}" class="symbol-label font-weight-bold" th:text="'Ver'"></a>
                                                    </div>
                                                    <div th:if="${proyecto.participantes.size()>5}" class="symbol symbol-30 symbol-circle symbol-light">
                                                        <a th:href="@{'proyecto/participantes/'+${proyecto.id}}" class="symbol-label font-weight-bold" th:text="'+'+${proyecto.participantes.size()-5}"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Item-->
                                        </div>
                                        <!--begin: Items-->
                                    </div>
                                </div>
                                <!--end::Card-->

                                <!--begin: ADMINISTRACION PROYECTO-->
                                <!--begin::Card-->
                                <div th:if="${(unido=='true' || session.usuariosession.id==proyecto.usuarioCreador.id) && proyecto.participantes.size()>0 && proyecto.estadosProyecto.name()!='Finalizado'}" class="card card-custom  mr-lg-7 ml-lg-7">
                                    <div class="modal fade" id="exampleModalSizeLg" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-sticky-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Recurso</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i aria-hidden="true" class="ki ki-close"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <!--begin::Form-->
                                                    <form id="modalForm" method="POST" enctype="multipart/form-data">
                                                        <input type="hidden" id="idP" name="idP" th:value="${proyecto.id}">
                                                        <input type="hidden" id="idU" name="idU" th:value="${session.usuariosession.id}">
                                                        <div class="card-body">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label text-lg-right">Titulo del recurso:</label>
                                                                <div class="col-lg-8">
                                                                    <input type="text" class="form-control" placeholder="Nombre de referencia" name="titulo" />
                                                                    <span class="form-text text-muted">Ingrese un nombre descriptivo del recurso</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label text-lg-right">Tipo de recurso:</label>
                                                                <div class="col-lg-8">
                                                                    <select class="form-control" id="tipoRecurso">
                                                                        <option value="web">Sitio Web</option>
                                                                        <option value="archivo">Archivo</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" id="tipoWeb">
                                                                <label class="col-lg-3 col-form-label text-lg-right">URL:</label>
                                                                <div class="col-lg-8">
                                                                    <input type="text" class="form-control" id="urlPage" name="urlPag" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row" id="tipoArchivo" style="display: none;">
                                                                <label class="col-lg-3 col-form-label text-lg-right">Subir Archivo:</label>
                                                                <div class="col-lg-8">

                                                                    <div class="uppy" id="kt_uppy_5">
                                                                        <div class="uppy-wrapper" id="wrapper">
                                                                            <input class="uppy-FileInput-input uppy-input-control subirimagen" type="file" name="file" id="kt_uppy_5_input_control" style="">
                                                                            <label class="uppy-input-label btn btn-light-primary btn-sm btn-bold" for="kt_uppy_5_input_control" style="">Adjuntar Archivo</label>
                                                                        </div>
                                                                        <div class="uppy-list"></div>
                                                                    </div>
                                                                    <span class="form-text text-muted" id="spanLabel">El tamaño máximo del archivo debe ser de 5MB  </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary font-weight-bold">Subir</button>
                                                        </div>
                                                    </form>
                                                    <!--end::Form-->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!--begin::Header-->
                                    <div class="card-header card-header-tabs-line">
                                        <div class="card-toolbar">
                                            <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
                                                <li class="nav-item mr-3">
                                                    <a class="nav-link active" data-toggle="tab" href="#kt_apps_projects_view_tab_2">
                                                        <span class="nav-icon mr-2">
                                                            <span class="svg-icon mr-3">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Chat-check.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000" />
                                                                </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </span>
                                                        <span class="nav-text font-weight-bold">Recursos</span>
                                                    </a>
                                                </li>
                                                <li class="nav-item mr-3">
                                                    <a class="nav-link" data-toggle="tab" href="#kt_apps_projects_view_tab_3">
                                                        <span class="nav-icon mr-2">
                                                            <span class="svg-icon mr-3">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Devices/Display1.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24" />
                                                                <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z" fill="#000000" opacity="0.3" />
                                                                <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z" fill="#000000" />
                                                                </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </span>
                                                        <span class="nav-text font-weight-bold">Tablero</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body">
                                        <div class="tab-content pt-5">
                                            <!--begin::Tab Content-->
                                            <div class="tab-pane active" id="kt_apps_projects_view_tab_2" role="tabpanel">
                                                <!--begin::Actions-->
                                                <div class="d-flex align-items-center my-2">
                                                    <button type="button" class="btn btn-light-success btn-sm text-uppercase font-weight-bolder" data-toggle="modal" data-target="#exampleModalSizeLg">Nuevo Recurso</button>
                                                </div>
                                                <!--end::Actions-->
                                                <!--begin::Responsive container-->
                                                <div class="table-responsive">
                                                    <!--begin::Items-->
                                                    <div class="list list-hover min-w-500px" data-inbox="list">
                                                        <!--begin::Item-->
                                                        <div th:each="recursoItem:${recursosLista}" class="d-flex align-items-start list-item card-spacer-x py-4" th:onclick="mostrarModal([[${recursoItem.id}]])">
                                                            <!--begin::Info-->
                                                            <div class="flex-grow-1 mt-1 mr-2" data-toggle="view">
                                                                <!--begin::Title-->
                                                                <div class="font-weight-bolder mr-2" th:text="${recursoItem.titulo}"></div>
                                                                <!--end::Title-->
                                                                <!--begin::Labels-->
                                                                <div th:if="${recursoItem.nameFile!=null}" class="mt-2">
                                                                    <span class="label label-light-primary font-weight-bold label-inline">File</span>
                                                                </div>
                                                                <div th:if="${recursoItem.urlWeb!=null}" class="mt-2">
                                                                    <span class="label label-light-info font-weight-bold label-inline">Link</span>
                                                                </div>
                                                                <!--end::Labels-->
                                                            </div>
                                                            <!--end::Info-->
                                                            <!--begin::Details-->
                                                            <div class="d-flex align-items-center justify-content-end flex-wrap" data-toggle="view">
                                                                <!--begin::Datetime-->
                                                                <div class="font-weight-bolder" data-toggle="view" th:text="${recursoItem.usuario.nombre}"></div>
                                                                <!--end::Datetime-->
                                                                <!--begin::User Photo-->
                                                                <span class="symbol symbol-light-success symbol-30 ml-3">
                                                                    <span th:if="${recursoItem.usuario.avatar==null}" class="symbol-label font-size-h5 font-weight-bold" th:text="${recursoItem.usuario.nombre.substring(0,1)}"></span>
                                                                    <span th:if="${recursoItem.usuario.avatar!=null}" class="symbol-label" th:style="|background:url(@{'assets/media/svg/avatars/'+${recursoItem.usuario.avatar}+'.svg'});|"></span>
                                                                </span>
                                                                <!--end::User Photo-->
                                                            </div>

                                                            <!--MODAL-->
                                                            <div class="modal fade" th:id="${recursoItem.id}" tabindex="-1" aria-labelledby="exampleModalSizeLg" style="display: none;" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-sticky-lg" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <div class="card card-custom wave wave-animate-slow wave-primary mb-8 mb-lg-0">
                                                                                <div class="card-body">
                                                                                    <div class="d-flex align-items-center p-5">
                                                                                        <div class="mr-6">
                                                                                            <span th:if="${recursoItem.urlWeb!=null}" class="svg-icon svg-icon-primary svg-icon-4x">
                                                                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Weather/Cloud2.svg-->
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                                                                <circle fill="#000000" opacity="0.3" cx="16" cy="10" r="5"></circle>
                                                                                                <path d="M5.74714567,18.0425758 C4.09410362,16.9740356 3,15.1147886 3,13 C3,9.6862915 5.6862915,7 9,7 C11.7957591,7 14.1449096,8.91215918 14.8109738,11.5 L17.25,11.5 C19.3210678,11.5 21,13.1789322 21,15.25 C21,17.3210678 19.3210678,19 17.25,19 L8.25,19 C7.28817895,19 6.41093178,18.6378962 5.74714567,18.0425758 Z" fill="#000000"></path>
                                                                                                </g>
                                                                                                </svg>
                                                                                                <!--end::Svg Icon-->
                                                                                            </span>
                                                                                            <span th:if="${recursoItem.nameFile!=null}" class="svg-icon svg-icon-primary svg-icon-4x">
                                                                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Clipboard-check.svg-->
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                                                                <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"></path>
                                                                                                <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"></path>
                                                                                                <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"></path>
                                                                                                </g>
                                                                                                </svg>
                                                                                                <!--end::Svg Icon-->
                                                                                            </span>
                                                                                        </div>
                                                                                        <div class="d-flex flex-column">
                                                                                            <a class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3" th:text="${recursoItem.titulo}">Get Started</a>
                                                                                            <div class="text-dark-75">
                                                                                                <p>Recurso subido por: <span class="font-weight-bold" th:text="${recursoItem.usuario.nombre+' '+recursoItem.usuario.apellido}"></span></p>
                                                                                                <p th:if="${recursoItem.urlWeb!=null}">Se ha agregado el siguiente link para revisar:<br> <a th:href="${recursoItem.urlWeb}" th:text="${recursoItem.urlWeb}" target="_blank"></a></p>
                                                                                                <a th:if="${recursoItem.nameFile!=null}" th:href="@{|/recurso/|+${recursoItem.nameFile}}">Descargar Archivo</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--FIN DE MODAL-->

                                                            <!--end::Details-->
                                                        </div>
                                                        <!--end::Item-->
                                                    </div>

                                                    <!--end::Items-->
                                                </div>
                                                <!--end::Responsive container-->
                                            </div>
                                            <!--end::Tab Content-->
                                            <!--begin::Tab Content-->
                                            <div class="tab-pane" id="kt_apps_projects_view_tab_3" role="tabpanel">
                                                <div id="kt_kanban_3"></div>
                                            </div>
                                            <!--modales-->
                                            <div class="modal fade" id="modalToDO" tabindex="-1" aria-labelledby="exampleModalSizeDefault" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalToDOLabel">Agregar tarea</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <i aria-hidden="true" class="ki ki-close"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!--begin::Form-->
                                                            <form id="formTablero" method="POST">
                                                                <input type="hidden" id="idPt" name="idPt" th:value="${proyecto.id}">
                                                                <input type="hidden" id="idUs" name="idUs" th:value="${session.usuariosession.id}">
                                                                <input type="hidden" id="nombreUser" name="nombreUser" th:value="${session.usuariosession.nombre+' '+session.usuariosession.apellido}">
                                                                <input type="hidden" id="valueTipo" name="valueTipo">
                                                                <div class="card-body">
                                                                    <div class="form-group row">
                                                                        <label class="col-lg-3 col-form-label text-lg-right">Descripción de la tarea:</label>
                                                                        <div class="col-lg-8">
                                                                            <input type="text" class="form-control" placeholder="Nombre de referencia" name="tarea" id='tarea' />
                                                                            <span class="form-text text-muted">Ingrese un nombre descriptivo de la tarea</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary font-weight-bold">Agregar</button>
                                                                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                                                                </div>
                                                            </form>
                                                            <!--end::Form--> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--finmdoales-->
                                            <!--end::Tab Content-->
                                        </div>
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Card-->
                                <!--end::ADMINISTRACION PROYECTO-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Entry-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Footer-->
                    <div th:replace="layout/footer::footer"></div>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Page-->
        </div>
        <!--end::Main-->

        <!-- begin::User Panel-->
        <div th:replace="layout/user-panel::user-panel"></div>
        <!-- end::User Panel-->

        <!--begin::QuickPanel el del costado del user-->
        <div th:replace="layout/quick-panel::quickPanel"></div>
        <!--end::QuickPanel-->

        <!--begin::Scrolltop-->
        <div th:replace="layout/scrollTop::scrollTop"></div>
        <!--end::Scrolltop-->

        <!--end::Global Theme Bundle-->
    <scripts th:replace="layout/scripts::scripts"></scripts>
    <!--begin::Page Vendors(used by this page)-->
    <script src="assets/js/proyecto/proyectoUnirse.js"></script>
    <!--begin::Page Scripts(used by this page)-->
    <!--<script src="assets/plugins/custom/uppy/uppy.bundle.js"></script>-->
    <!--<script src="assets/js/pages/file-upload/uppy.js"></script>-->
    <script src="https://releases.transloadit.com/uppy/locales/v2.0.8/es_ES.min.js"></script>
    <script src="assets/plugins/custom/kanban/kanban.bundle.js"></script>
    <script src="assets/js/pages/miscellaneous/kanban-board.js"></script>
    <script src="assets/js/proyecto/proyectoRecursos.js"></script>

    <!--end::Page Scripts-->
    <!--end::Page Vendors-->
</body>
<!--end::Body-->
</html>
